<header class="bg-primary text-white p-4 mb-3">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <h1 id="header-titleX">X-Team <small>members &#12484;</small></h1>
          </div>
          <div class="col-md-6 align-self-center">
              <input type="text" class="form-control" id="filterX" placeholder="Search member...">
          </div>
      </div>
  </div>
</header>

<div class="container">
  <div id="mainX" class="card card-body">
      <h2 class="titleX">Add New Member yasta</h2>
          <input 
            #newMember
            [(ngModel)]="newMemberX"
            (keyup.enter)="addMember(newMember.value)"
            type="text" class="col-sm-7 form-control mb-2" id="newMemberX" autofocus>
          <input type="submit" class="col-sm-4 btn btn-dark" value="Add Yasta">
      <h2 class="titleX">Members</h2>
      <ul class="list-group">
          <li
            *ngFor="let member of members$ | async; let i = index"
            class="list-group-item">
            <span *ngIf="(editId == i) && editMemberX; then showEdit else showMember"></span>
              <ng-template #showMember>
                <span>{{ member.name }}</span>
              </ng-template>
              <ng-template #showEdit>
                <input 
                  #updatedMemberX
                  [(ngModel)]="updatedMember"
                  (keyup.enter)="updateMember(i)">
              </ng-template>
              <button 
                (click)="removeMember(member.key)"
                class="btn btn-danger btn-sm float-right deleteX">X</button>
              <button 
                (click)="editMember(member.key, updatedMemberX.value)"
                class="btn btn-danger btn-sm float-right mr-2">Edit</button>
          </li>

          <li *ngFor="let member of members$ | async; let i = index" class="list-group-item form-inline">
            <span *ngIf="(editId == i) && editMemberX; then showEdit else showMsg"></span>
            <ng-template #showMsg>{{ member.text }}</ng-template>
            <ng-template #showEdit>
              <input
                #updateText
                (keyup.enter)="updateMember(member.key, updateText.value)"
                (keyup.esc)="editMemberX = false"
                type="text" class="form-control d-inline col-7" value="{{ member.text }}"> 
            </ng-template>
            <button class="deleteX btn btn-danger btn-sm float-right" 
              (click)="deleteMember(member.key)">X</button>
            <button class="editX btn btn-danger btn-sm float-right mr-2"
              (click)="editMember(i)">Edit</button>
          </li>

      </ul>
  </div>
</div>


<router-outlet></router-outlet>
